---
layout: default-simple
---

<section>
  <h1>Hi.</h1>
  <p>
    I have some <a href="https://github.com/QasimK">open-source
    projects</a> and other personal projects (that I may list here one day). I'd like to do more <a href="{{ '/talks/' | relative_url }}">software engineering talks</a>.
  <p>
    I'm writing <a href="https://qasimk.io/programmers-compendium/">The Programmer's Compendium</a>, a repository for my knowledge on Software Engineering. I'm also writing <a href="https://qasimk.gitbooks.io/piserver-book/content/">The PiServer Book</a> about a building and maintaining a Linux home server on the Raspberry Pi. <em>Both books are largely incomplete.</em>
  <p>
    I've got a list of <a href="{{ '/cool/' | relative_url }}">cool things I've come across</a>. I've also got the opposite—<a href="{{ '/garbage/' | relative_url }}">a list of complete garbage</a>.
  <p>
    Finally, I have written articles (and <a href="{{ '/scribbles/' | relative_url }}">scribbled a bunch of thoughts</a>) like any good blog:
  <ol reversed>
    {% for post in site.posts %}
      {% unless post.tags contains 'outdated' %}
        <li>
          <a href="{{ post.url }}" tags="{{ post.tags | array_to_sentence_string:'' }}">{{ post.title }}</a>
          <small><nobr>
               <time datetime="{{ post.date }}">{{ post.date | date_to_string }}</time>
          </nobr></small>
          {% if post.draft %}
            <span style="font-weight: bold; font-variant-caps: all-small-caps">
              Draft
            </span>
          {% endif %}
      {% endunless %}
    {% endfor %}
  </ol>
  <p>
    Excluding the following probably-outdated posts:
  </p>
  <ol reversed>
    {% for post in site.posts %}
      {% if post.tags contains 'outdated' %}
        <li>
          <a href="{{ post.url }}" tags="{{ post.tags | array_to_sentence_string:'' }}">{{ post.title }}</a>
          <small><nobr>
               <time datetime="{{ post.date }}">{{ post.date | date_to_string }}</time>
          </nobr></small>
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</section>
