{% comment %}
Uses "includes/blog-inline-image.html"

Usage:

{% include blog-inline-image.html
    img="2018-09-11-wii-game-config.png"
    title="Settings for Dolphin games."
    caption="To access the game overrides: Right-Click [Game] > Properties > Edit User Config."
    width=1092
    height=555
%}
{% endcomment %}

<figure class="blog-inline-figure">
    {% if include.url %}
        <a href="{{ include.url }}" title="{{ include.title }}">
    {% endif %}
    <img class="blog-inline-figure__image"
         src="{{ site.url }}/media/{{ include.img }}"
         title="{{ include.title }}"
         alt="{{ include.title }}"
         width="{{ include.width }}"
         height="{{ include.height }}"
    />
    {% if include.url %}
        </a>
    {% endif %}
    {% if include.caption %}
        <figcaption class="blog-inline-figure__caption">
            {{ include.caption }}
        </figcaption>
    {% endif %}
</figure>
