$main-column-width: 40em


html
    background-color: rgb(255, 255, 255)
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.75) 100%, rgba(255, 255, 255, 0.75) 100%), url(/images/asanoha-400px.png)

body
    overflow-y: scroll  // Fix alignment when scrollbar is missing (FF)
    line-height: 1.4
    font-size: 1.125em
    font-variant-numeric: oldstyle-nums
    color: #111

a
    &:link, &:visited
        margin: -0.25em  // Increase size of clickable area
        padding: 0.25em
        color: #841212
        text-decoration: none

    &:visited
        color: #a00

    &:focus, &:hover
        color: #e00

    &:hover
        text-decoration: underline


// Highlight on #fragment
\:target
    background: yellow


small
    color: #333


.site-header
    margin: 1em
    margin-bottom: 0
    text-align: center
    color: #111

.site-header__prefix
    color: #eee
    margin-left: -68px  // Width of "IAm" on my machine...

.site-header__title
    margin: 0


.content-column
    margin: 0 auto
    padding: 0 1em
    max-width: $main-column-width
    width: 100%

    h1
        font-size: 1.4em

    h2
        font-size: 1.2em
        margin-top: 2em
        margin-bottom: -0.25em

    h3
        font-size: 1.1em
        margin-top: 1em
        margin-bottom: -0.5em

    h4
        font-size: 1em
        margin-top: 0.5em
        margin-bottom: -1em


.nobreak
    word-break: none

.site-footer
    margin: 2em 0


.post

.post__main
    margin-bottom: 4em


.post__nav
    display: none

@media (min-width: 80em)
    .post__nav
        display: unset
        float: left
        position: sticky
        top: 1em
        width: calc(50% - 24em)
        font-size: 0.888888888em

    .post__nav-internal
        max-width: 20em
        margin-left: auto
        list-style: lower-roman inside


.post__header
    margin-bottom: 0

.post__meta
    list-style-type: none
    margin: 0
    padding: 0
    color: #999
    font-size: 0.9em
    font-weight: 300

.post__content
    margin-top: 1em
    line-height: 1.58

.post__footer
    margin-top: 4em
    color: #333


/*****
 CODE
 *****/

.highlight, code
    background-color: #eee

p, li
    code
        padding: 0.1em 0.2em

div.highlight
    display: inline-block
    min-width: $main-column-width
    max-width: calc(50vw + 18em)  // $main-column-width / 2 - 2em
