// Wrap entire page
html
    background-color: rgb(255, 255, 255)
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.75) 100%, rgba(255, 255, 255, 0.75) 100%), url(/images/asanoha-400px.png)

body
    overflow-y: scroll  // Fix alignment when scrollbar is missing (FF)
    line-height: 1.42
    font-size: 1.125em
    font-family: 'Noto Serif', 'Trirong', Helvetica, Arial, sans-serif
    color: rgba(0, 0, 0, 0.9)

a
    &:link, &:visited
        margin: -0.25em  // Increase size of clickable area
        padding: 0.25em
        color: #841212
        text-decoration: none

    &:visited
        color: #a00

    &:focus, &:hover
        color: #e00

    &:hover
        text-decoration: underline


\:target
    background: yellow


small
    color: #bbb

/*ul
    list-style: none

    > li::before
        padding-right: 30px
        content: '•'*/

.site-header
    margin: 1em
    margin-bottom: 0
    text-align: center
    color: #111

.site-header__title
    margin: 0

.site-header__subtitle
    margin-top: 0

    @media (max-width: 600px)
        display: none


.content-column
    margin: 0 auto
    padding: 0 1em
    max-width: 40em
    width: 100%

    h1
        font-size: 1.4em

    h2
        font-size: 1.2em
        margin-top: 2em
        margin-bottom: -0.25em

    h3
        font-size: 1.1em
        margin-top: 1em
        margin-bottom: -0.5em

    h4
        font-size: 1em
        margin-top: 0.5em
        margin-bottom: -1em


.nobreak
    word-break: none

.site-footer
    margin: 2em 0


.post

.post__banner
    font-style: italic
    font-size: 0.9em

.post__main
    margin-bottom: 4em


.toc-list-item
    list-style: none


@media (max-width: 60em)
    .post__nav
        position: fixed
        padding: 0.8em 1em
        right: 0
        bottom: 0

        &:before
            content: '☰'

        &:focus
            padding: 0

            &:before
                content: ''

            .post__nav-internal
                display: block
                background-color: white
                width: 100%
                max-width: 40em
                padding: 1em
                border: 1px solid black
                box-shadow: -2px -2px 4px 0px

        .post__nav-internal
            display: none

@media (min-width: 60em)
    .post__nav
        float: left
        position: sticky
        top: 1em
        width: calc(50% - 21em)
        text-align: right

    .post__nav-internal
        max-width: 20em
        margin-left: auto
        text-align: left

.post__header
    margin-bottom: 0

.post__meta
    list-style-type: none
    margin: 0
    padding: 0
    color: #999
    font-size: 0.9em
    font-weight: 300

    li
        display: inline-block

        &:not(:first-of-type)::before
            content: "\2022\00a0"

.post__content
    margin-top: 1em
    line-height: 1.58

.post__comments
    margin-top: 4em

.highlight, code
    background-color: #eee

pre
    font-family: 'Noto Mono', monospace

p, li
    code
        padding: 0.1em 0.2em


/* Code blocks - dynamic widths */
// TODO: Can we identify divs better?
div.highlighter-rouge
    width: calc(50vw + 15em)

div.highlight
    // TODO: Variable for content width
    display: inline-block
    min-width: 40em
    max-width: calc(50vw + 18em)
