<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">

<!-- https://realfavicongenerator.net/ -->
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon-apple.png">

{% seo %}
{% feed_meta %}

<div class="site-wrapper">
  <header class="site-header">
    <h1 class="site-header__title">
      <span class="site-header__prefix">IAm</span><a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </h1>
  </header>

  {{ content }}

</div>
