.blog-inline-figure
    .blog-inline-figure__image
        max-width: 100%
        height: auto

    .blog-inline-figure__caption
        text-align: center

.blog-inline-video
    .blog-inline-video__player
        max-width: 100%
        height: auto

    .blog-inline-video__caption
        text-align: center
